.DS_Store
start.spec
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/other.xml
.idea/pylife.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
__pycache__/bending_spring.cpython-312.pyc
__pycache__/input_handler.cpython-312.pyc
__pycache__/particle.cpython-312.pyc
__pycache__/physics.cpython-312.pyc
__pycache__/renderer.cpython-312.pyc
__pycache__/spring.cpython-312.pyc
__pycache__/structures.cpython-312.pyc
__pycache__/particle_tool.cpython-312.pyc
__pycache__/rod_tool.cpython-312.pyc
builder_ui/tools/__pycache__/*
builder_ui/__pycache__/*
builder_ui/theme/__pycache__/*
builder_ui/widgets/__pycache__/*
build/.DS_Store
build/start/.DS_Store
build/start/Analysis-00.toc
build/start/base_library.zip
build/start/EXE-00.toc
build/start/PKG-00.toc
build/start/PYZ-00.pyz
build/start/PYZ-00.toc
build/start/start.pkg
build/start/warn-start.txt
build/start/xref-start.html
build/start/localpycs/pyimod01_archive.pyc
build/start/localpycs/pyimod02_importers.pyc
build/start/localpycs/pyimod03_ctypes.pyc
build/start/localpycs/struct.pyc
dist/start
builder_ui/tools/__pycache__/particle_tool.cpython-312.pyc
builder_ui/__pycache__/fields.cpython-312.pyc
builder_ui/__pycache__/fields.cpython-312.pyc
__pycache__/
builder_ui/__pycache__/
builder_ui/tools/__pycache__/
*.pyc