# macOS / OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual envs (if you keep them locally)
.venv/
venv/
env/

# Build / packaging / PyInstaller
build/
dist/
*.spec

# IDE
.idea/
.vscode/